.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep the dependency lock file in version control.
!.terraform.lock.hcl

